@model Users.Models.LoginModel
@{
    ViewBag.Title = "登录";
}

<h2>登录</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
    <div class="form-group">
        <label>用户名</label>
        @Html.TextBoxFor(x=>x.Name,new {@class="form-control"})
    </div>
    <div class="form-group">
        <label>密码</label>
        @Html.PasswordFor(x => x.Password, new {@class = "form-control"})
    </div>
    <button class="btn btn-primary" type="submit">登录</button>
}
